.contact {
	text-align: center;
	margin: 0 auto;
	padding: 60px 0;
	padding-top: 50px;
}

.contact__description {
	font-weight: 400;
	font-size: 105%;

	a {
		font-weight: 700;
		text-decoration: underline;
	}
}


.contact__copyright {
	font-weight: 300;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 20px;
}
