nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	display: flex;
	flex-direction: row;
	padding: 40px 80px;
}

.navStick nav {
	position: fixed;
	padding: 0;
    padding-right: 60px;
    background: #141414;

	.logo {
		height: 100%;
	}
}

.logo {
	display: block;
	width: 100%;
	height: auto;
	max-width: 50px;
}

.nav-items {
	display: block;
	list-style: none;
	margin-left: auto;
}

.nav-items__item {
	display: inline-block;
	padding-left: 0;
	margin-left: 0;
	margin-right: 40px;
	cursor: pointer;

	a {
		color: white;
		font-size: 15px;
		font-weight: 700;
		text-decoration: none;
		transition: color 0.25s ease-in-out,
		border 0.25s ease-in-out;
	}

	&:hover a {
		color: #D0021B;
	}

	&:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 720px) {
	nav {
		padding: 0 20px;
		padding-top: 20px;
	}

	.nav-items {
		display: none;
	}

	.nav-items__item {
		font-size: 14px;
	}

	.logo {
		max-width: 50px;
		min-width: 50px;
	}
}

@media screen and (max-width: 420px) {

}
